<% if @giver.perspectives.present? %>
  <% @giver.perspectives.where(:anonymous => false).each do |perspective| %>
    <strong>
      <%= perspective.story_type %>
    </strong>
    <p>
      <%= perspective.story %>
    </p>
    <p>
      Tags
    </p>
    <hr/>
  <% end %>
<% end %>