<% if @giver.perspectives.present? %>
  <% @giver.perspectives.where(:anonymous => false).each do |perspective| %>
    <strong>
      <%= perspective.story_type %>
    </strong>
    <p>
      <%= perspective.story %>
    </p>
    <p>
      <%= perspective.perspective_tags.collect{|t| t.name}.join(", ") %>
    </p>
    <hr/>
  <% end %>
<% end %>