<%= render "shared/confirmation_notice" %>

<div class="well">
  <div class="container">
    <h3>
      Welcome <%= @giver.name %>
    </h3>
  </div>
</div>

<%= render "users/profile", :user => @giver %>

<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
  <%= render "shared/profile_popup" %>
<% end %>