<%=h content_for(:title, "| Login") %>

<div class="top-title-area bg-img">
  <div class="container">
    <h1 class="title-page">
      Login
    </h1>
  </div>
</div>

<div class="gap"></div>

<div class="container">
  <div class="row">
    <div class="span4 offset4 center well-wrap">
      <%= link_to auth_at_provider_path(:provider => :facebook,:social_type =>'login'), :class => "fb-blue btn icon-btn btn-block padded-btn-block large" do %>
        <span class="icon-container">
          <i class="icon icon-facebook"></i>
        </span>
        <span class="text-container fb-text"> Log in with Facebook </span>
      <% end %>

      <div class="signup-or-separator shift">
        <span class="text">or</span>
        <hr/>
      </div>

      <%= render "form" %>

      <hr/>

      <p>
        Don't have an account?
        <%= link_to "Sign up", signup_path %>
      </p>

    </div>
  </div>

</div>

<div class="gap"></div>