<%= render "header" %>
<div class="row-fluid">
  <div class="span12">
    <legend>
      Sessions
    </legend>
  </div>
</div>
<%= link_to "Personal Details", personal_details_giver_sessions_path(current_user) %> |
<%= link_to "Manage requests", manage_requests_giver_sessions_path(current_user) %> |
<%= link_to "Inbox", inbox_giver_sessions_path(current_user) %>