<li style="padding: 3px;">
  <div class='alert alert-info'>
    <%= link_to language_path(language), :method => :delete, :remote => true do %>
      <button type='button' class='close' data-dismiss='alert'>×</button>
    <% end %>
    <%= language.title %>
  </div>
</li>