<nav class="navbar navbar-secondary" role="navigation">
  <div class="container">


    <ul class="nav navbar-nav" style="color: #E6E5E4; font-weight: bold">
      <li>
        <%= link_to "Notifications", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Payout Preferences", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Transaction History", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Settings", 'javascript:void(0)' %>
      </li>

    </ul>

  </div>
</nav>