<% if @user.perspectives.present? %>
  <% @user.perspectives.where(:anonymous => false).each do |perspective| %>
    <strong>
      <%= perspective.story_type %>
    </strong>
    <p>
      <%= perspective.story %>
    </p>
    <p>
      Keywords: <%= perspective.perspective_tags.collect{|t| t.name}.join(", ") %>
    </p>
    <hr/>
  <% end %>
 
<% else %>
   <div class="container">
     <span>You have no shared posts and no Saved posts</span>
   </div>
<% end %>