<% if @user_perspectives.present? %>
  <% @user_perspectives.each do |perspective| %>

    <div class="col-lg-6 col-sm-6">
      <%= render perspective %>

      <% unless logged_in? %>
        <%= link_to "Save", "javascript:;",:class => "btn btn-success disabled" %>
      <% else %>
        <% if current_user.saved_perspectives.where(:perspective_id => perspective.id).present? %>
          <%= link_to "Saved", "javascript:;", :class => "btn btn-success disabled" %>
        <% else %>
          <%= link_to "Save", save_perspective_path(perspective.id), :remote => true, :class => "btn btn-success", :id => "save_perspective_#{perspective.id}" %>
        <% end %>
      <% end %>
      <hr/>
    </div>
  <% end %>

<% else %>
  <span>No Posts</span>
<% end %>