<div class="container-fluid" style="overfolw:scroll">
	<div class="row-fluid text-center">
		<div class="crop-profile-photo" >
		<%= image_tag current_user.profile_photo, :id => "profile_photo", :style => 'width: 200px; height: auto;' if current_user.profile_photo.present? %>

			<%= form_for @user, :url => crop_photo_user_path(@user) do |f| %>
			  <% %w[x y w h r_width r_height].each do |attribute| %>
			    <%= f.hidden_field "crop_#{attribute}" %>
			  <% end %>
			  <div class="gap-small">
			    <%= f.submit "Crop", :class => 'btn btn-primary btn-large crop-button' %>
			  </div>
			<% end %>
		</div>
	</div>
</div>





<script type="text/javascript">
	$(function(){
		$("#profile_photo").Jcrop({
			aspectRatio: 1,
			maxSize: 0,
			minSize: 0,
			trueSize : [200,200],
			onSelect : showCoords,
			onChange : showCoords,
			setSelect:   [ 100, 100, 50, 50 ]
		});
	});

	function showCoords(c){
		$("#user_crop_x").val(c.x);
		$("#user_crop_y").val(c.y);
		$("#user_crop_w").val(c.w);
		$("#user_crop_h").val(c.h);
		$("#user_crop_r_height").val($("#profile_photo").height());
		$("#user_crop_r_width").val($("#profile_photo").width());

	}
</script>