<a class="modal_popup" href="#modal_content"></a>

<div style="display:none">
  <div id="modal_content">
    <p class="lead well">
      Welcome to iSeekiGive,
      We hope you’ll find inspiration, knowledge and rewards.
      <br/><br/>
      iSeekiGive’s Dashboard provides a bird’s-eye view of your profile, access level, rewards and activity.     
      <br/>
      <br/>
      <a href='javascript:void(0)' class="btn btn-primary">Next Step >> </a>

      <%= link_to "Go to Dashboard", popup_path(:con => controller.controller_name, :act => controller.action_name), :class => "btn btn-primary close-popup pull-right", :remote => true %>
    </p>
  </div>
</div>