<a class="dashboard_popup" href="#data"></a>
<div style="display:none">
  <div id="data">
    <p class="lead well">
      Welcome to iSeekiGive,
      We hope you’ll find inspiration, knowledge and rewards.
      iSeekiGive’s Dashboard provides a bird’s-eye view of your profile, access level, rewards and activity.     
    <br/>
    <a href='javascript:void(0)' class="btn btn-primary">Next Step >> </a>

    <a href='javascript:void(0)' class="btn btn-primary close_popup  pull-right">Go to Dashboard</a>
    </p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.close_popup').click(function(){
      parent.$.fancybox.close();
    });
  })
</script>