<footer class="main center">
  <div class="container">
    <a href="/" class="logo">
      <%= image_tag 'logo.png', :alt => "logo", :title => "logo" %>
    </a>

    <div class="gap gap-small"></div>
    <ul class="list list-inline nav-footer">
      <li><a href="#">Home</a>
      </li>
      <li><a href="#">Portfolio</a>
      </li>
      <li><a href="#">Features</a>
      </li>
      <li><a href="#">Pages</a>
      </li>
      <li><a href="#">Blog</a>
      </li>
      <li><a href="#">Contact</a>
      </li>
    </ul>
    <ul class="list list-inline">
      <li>
        <a href="#" class="icon-facebook box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Facebook"></a>
      </li>
      <li>
        <a href="#" class="icon-twitter box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Twitter"></a>
      </li>
      <li>
        <a href="#" class="icon-flickr box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Flickr"></a>
      </li>
      <li>
        <a href="#" class="icon-linkedin box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Linkedin"></a>
      </li>
      <li>
        <a href="#" class="icon-tumblr box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Tumblr"></a>
      </li>
      <li>
        <a href="#" class="icon-dribbble box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Dribbble"></a>
      </li>
      <li>
        <a href="#" class="icon-rss box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="RSS"></a>
      </li>
      <li>
        <a href="#" class="icon-envelope box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Mail"></a>
      </li>
    </ul>
    <div class="gap gap-small"></div>
    <small>&copy; Copyright 2013 by <a href="index.html">New Wave</a>. All Rights Reserved.</small>
  </div>
</footer>

<script type="text/javascript">
    $(function () {
        $("#tag").autocomplete({
            source: "/all_tags",
            select: function (event, ui) {
                event.preventDefault();
                window.location.href = "/users/" + ui.item.value + "/public_profile"
            }
        })
                .data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                    .append(itemFormatResult(item))
                    .appendTo(ul);


        }
    });
    function itemFormatResult(item) {
        var markup = "<a href='/users/" + item.value + "/public_profile'><table class='item-result'><tr>";
        markup += "<td class='item-image'><img class='img-circle' src = " + item.icon + "></td>";
        markup += "<td class='item-info'><div class='movie-title'>" + item.label + "</div>";
        markup += "<div class='item-addr'>" + item.country + "</div>";
        markup += "<div class='item-addrspan3 user-info'>" + item.educations+"</div>";
        markup += "<div class='item-addr span3 user-info'>" + item.companies+"</div>";
        markup += "</td></tr></table></a>"
        return markup;
    }

</script>