<h2>  <%= link_to "INBOX(#{@messages_count})", inbox_seeker_sessions_path(current_user) %> </h2>
<%= render :partial => 'inbox_type_link' %>

<%= render :partial => 'inbox_mark_as' %>

<%= render :partial => 'seekers_inbox_body' %>





