<%= render "header" %>
<div class="row-fluid">
  <div class="span12">
    <legend>
      Sessions
    </legend>
    <%= link_to "Personal Details", seeker_sessions_path(current_user) %> |
    <%= link_to "Manage Session Requests", manage_requests_seeker_sessions_path(current_user) %> |
    <%= link_to "Inbox", inbox_seeker_sessions_path(current_user) %>
  </div>
</div>