<%= render "header" %>
<div class="row-fluid">
  <div class="span12">
    <legend>
      Sessions
    </legend>
    <%= link_to "Personal Details", seeker_sessions_path(current_user) %> |
    <%= link_to "Session Requests", seeker_sessions_path(current_user) %> |
    <%#= link_to "Send a message", messages_new_seeker_sessions_path(current_user) %>
    <%= link_to "Inbox", inbox_seeker_sessions_path(current_user) %>
  </div>
</div>