<div class="new_experience" id="new_experience_cont">
  <div class="info-container">
    <h4>
      <%= link_to 'Add New', 'javascript:void(0)', :class => "btn btn-mini btn-primary btn-edit" %>
    </h4>
  </div>
  <div class="form-container" style="display:none">
    <%= render 'experiences/form', :experience => Experience.new %>
  </div>
</div>