<div class="new_skill" id="new_skill_cont">
  <div class="info-container">
    <h4>
      <%= link_to 'Add New', 'javascript:void(0)', :class => "btn btn-mini btn-primary btn-edit" %>
    </h4>
  </div>
  <div class="form-container" style="display:none">
    <%= render 'tags/form', :tag => Tag.new %>
  </div>
</div>