<div class="row-fluid">
  <%= render "header" %>

  <h4>
    Game 3: The Good, The Bad, The Ugly
  </h4>

  <h5>
    The rules of this game are simple.<br/>
    There are 3 labels, place each one on a different experience based on your
    ability to say something good, bad or ugly.
  </h5>

  <p>
    The Good:  There are things I liked or things others might like about …
    (this job, this function, this company, this city, this school, etc…)
  </p>

  <p>
    The Bad: There are things I didn’t like or things others might not like about …
  </p>

  <p>
    The Ugly: There are things to be careful of, risks or things to watch-out for in …
  </p>
</div>