.logo-container{
    position: relative;
    width: 100%;
    min-height: 33px;
}

.logo img{
    position: absolute;
    left: 0px;
    top: -13px;
}

@media (max-width: 768px) {
    .logo-container{
        height: 60px;
    }
}

.find-givers-form{
    position: relative;
}

.find-givers-form i.icon-search{
    position: absolute;
    left: 5px;
    top: 6px;
}

.find-givers-form input{
    padding-left: 25px;
    border-radius: 4px;
}

ul.ui-autocomplete{
    overflow-y: scroll;
    overflow-x: hidden;
}

.giver-search-result{
    background-color: #E0E0E0;
    width: 450px;
}

.giver-search-result:nth-child(2n+1) {
    background-color: #F0F0F0;
}

.giver-search-result .result-profile-pic{
    width: 80px;
    float: left;
    padding-top: 10px;
}

.giver-search-result .result-profile-pic img{
    width: 100%;
}

.giver-search-result .result-description{
    width: 370px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.giver-search-result .result-description .result-title{
    font-size: 14px;
    font-weight: bold;
}



.super-hero-title{
    font-size: 52px;
}

.centered{
    text-align: center;
}

.bordered{
    border: 4px double black;
}

.pad-10{
    padding: 10px;
}

.people-love-text{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.people-love-box{
    min-height: 280px;
}

.testimonial-author-name span{
    font-weight: normal;
}

@media (min-width: 768px) and (max-width: 1199px){
    .people-love-box{
        min-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 979px){
    .people-love-box{
        min-height: 370px;
    }
}

@media (max-width: 768px){
    .people-love-box{
        min-height: auto;
        margin-bottom: 10px;
    }
    .testimonial-top-left{
        margin-bottom: 10px;
    }
}