#footer {
    background-color: #F5F5F5;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 30px;
}

#footer p{
    text-align: center;
}

.well-wrap label.small{
    width: 100px;
    padding-top: 3px;
}

.well-wrap {
    width: 350px;
    margin: auto;
}

.well-wrap.well{
    padding: 0px;
}

.well-wrap .title{
    border-radius: 4px 4px 0 0;
    border-top: 0 none;
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F6F6F6 0%, #E5E5E5 100%);
    border-bottom: 1px solid #D0D0D0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 0 0 #000000;
    padding: 5px 15px;
    font-size: 24px;
    line-height: 1.5;
    color: #393C3D;
    font-weight: bold;
    margin: 3px 0;
    text-rendering: optimizelegibility;
}

.well-wrap .panel-content{
    padding: 10px 15px;
}

.well-wrap .btn.icon-btn{
    display: inline-block;
    padding: 0;
    position: relative;
}

.well-wrap .btn.large {
    font-size: 15px;
    line-height: normal;
}

.well-wrap .btn.fb-blue {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #3F5D9C;
    background-image: -moz-linear-gradient(center top , #6484C7 0%, #3F5D9C 100%);
    border-color: #4261A3 #435E96 #334C7F;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.well-wrap .btn.in-blue{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #1B86BD;
    background-image: -moz-linear-gradient(center top , #2896D0 0%, #1B86BD 100%);
    border-color: #1B78A8 #267399 #2B6C8C;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.well-wrap .btn:link, .btn:visited {
    color: #FFFFFF;
}

.well-wrap .padded-btn-block {
    margin: 5px 0;
}

.well-wrap .btn-block {
    width: 100%;
}

.well-wrap .btn {
    -moz-box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    vertical-align: middle;
}

.well-wrap a {
    text-decoration: none;
}

.well-wrap .icon-container {
    width: 36px;
    border-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
}

.well-wrap .icon-container i {
    font-size: 20px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
}

.well-wrap .icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.well-wrap .btn.icon-btn.large .text-container {
    margin-left: 36px;
    padding: 0.6em 1.3em;
    display: block;
}

.well-wrap .btn:hover,
.well-wrap .btn:focus{
    background-position: 0% 0%;
    transition: none;
}

.well-wrap .btn.fb-blue:hover{
    background-color: #3F5D9C;
    background-image: -moz-linear-gradient(center top, #89A2D5 0%, #3f5D9C 100%);
    color: #FFFFFF;
    text-decoration: none;
}

.well-wrap .btn.in-blue:hover{
    background-color: #1B86BD;
    background-image: -moz-linear-gradient(center top, #75B1CF 0%, #1B86BD 100%);
    color: #FFFFFF;
    text-decoration: none;
}

.well-wrap .signup-or-separator {
    background: none repeat scroll 0 0 transparent;
    color: #959595;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.well-wrap .shift {
    font-family: shiftbook,sans-serif;
    font-style: normal;
    line-height: normal;
}

.well-wrap .signup-or-separator .text {
    background-color: #F5F5F5;
    line-height: 36px;
    padding: 0 10px;
}

.well-wrap .signup-or-separator hr {
    margin: -20px auto 10px;
    width: 200px;
}

.well-wrap hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
}


.panel-footer:before, .panel-footer:after {
    content: "";
    display: table;
}
.panel-footer:after {
    clear: both;
}
.panel-footer:before, .panel-footer:after {
    content: "";
    display: table;
}

.panel-footer {
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #D5D5D5;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 0 0 #000000;
    margin-bottom: 0;
    padding: 14px 15px 15px;
}

.well-wrap .text-input-container {
    cursor: text;
    position: relative;
}

.well-wrap .text-input-container .text_field{
    width: 96%;
}

.well-wrap .span6.right{
    text-align: right;
    padding-top: 3px;
}

.well-wrap .btn.login-btn{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.well-wrap .btn.no-transform{
    text-transform: none;
}

.well-wrap .signup-email{
    width: 100%;
    text-align: center;
}

.well-wrap .signup-email a{
    text-decoration: underline;
}

.well-wrap .notice{
    color: #393C3D;
    font-size: 12px;
    padding-top: 20px;
}

.signup-wrap{
    width: 600px;
    margin: auto;
}

.signup-wrap label.small{
    padding-top: 3px;
}

select.date-select {
    width :120px;
}