<div class="field_text">
  <h4><%= link_to 'Add New', 'javascript:void(0)', :class => "btn btn-mini btn-primary field_edit" %></h4>
</div>
<div class="field_form" style="display:none">
  <%= render 'common/skill_form', :e => Skill.new %>
</div>