<div class="container">
  <div class="row">
    <div class="span12">
      <h3 class="centered">
        What people are saying.
      </h3>
    </div>
  </div>

  <div class="gap gap-small"></div>

  <div class="row">
    <div class="span5 offset1">
      <div class="testimonial-top-left">
        <div class="testimonial-author">
          <%= image_tag("default_user.png") %>
          <p class="testimonial-author-name">
            Khalil A.<br/>
            <span>
              Software Project Manager<br/>
              Boston, MA
            </span>
          </p>
        </div>
        <div class="testimonial-inner">
          <blockquote>
            <p>
              Amazing service that made my life much easier. 
              It would've taken me months to learn this on my own!
            </p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="testimonial-top-left">
        <div class="testimonial-author">
          <%= image_tag("default_user.png") %>
          <p class="testimonial-author-name">
            Andrew L.<br/>
            <span>
              Graduate Student, International Relations<br/>
              New York, NY
            </span>
          </p>
        </div>
        <div class="testimonial-inner">
          <blockquote>
            <p>
              Solid advice and refreshing perspectives, 
              I'll keep coming back for more.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="gap gap-small"></div>

  <div class="row">
    <div class="span5 offset1">
      <div class="testimonial-top-left">
        <div class="testimonial-author">
          <%= image_tag("default_user.png") %>
          <p class="testimonial-author-name">
            Cindy Y.<br/>
            <span>
              Relocating Abroad<br/>
              San Francisco, CA
            </span>
          </p>
        </div>
        <div class="testimonial-inner">
          <blockquote>
            <p>
              I could not get this kind of feedback anywhere else.
              It was straight to the point, no BS.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="testimonial-top-left">
        <div class="testimonial-author">
          <%= image_tag("default_user.png") %>
          <p class="testimonial-author-name">
            Tim D.<br/>
            <span>
              Financial Services<br/>
              Charlotte, NC
            </span>
          </p>
        </div>
        <div class="testimonial-inner">
          <blockquote>
            <p>
              ...Made it easy to talk openly and figure out a game plan that's right for me.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

</div>