<div class="container">
  <div class="row">
    <div class="span12">
      <h3 class="centered">
        Why people love
        <em>iSeekiGive</em>
      </h3>
    </div>
  </div>

  <div class="gap gap-small"></div>

  <div class="row">
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Credible</h4>
        <i class="icon-check box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Our community is based on real perspectives from users who've "been there, done that".
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Relevant</h4>
        <i class="icon-search box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Perspectives help users easily identify relevant feedback to support their life transitions.
        </p>
        <p class="people-love-text">
          Sessions are backed by our no risk relevance policy.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Effective</h4>
        <i class="icon-arrow-right box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          We reduce the time and energy needed to gain fresh perspectives and relevant advice.
        </p>
        <p class="people-love-text">
          Explore interests and share feedback, we facilitate the logistics.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Rewarding</h4>
        <i class="icon-usd box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Giving back never felt so good. 
        </p>
        <p class="people-love-text">
          Help others progress and earn rewards.
        </p>
        <p class="people-love-text">
          Why wouldn't you Give?
        </p>
      </div>
    </div>
  </div>
</div>