
<div class="demo_changer">
  <div class="demo-icon icon-cog box-icon-big"></div>

  <div class="form_holder">
    <div class="line"></div>
    <p>Container Width</p>
    <a href="#" class="btn btn-small" id="switch_960">960px</a><a href="#" class="btn btn-primary btn-small" id="switch_1200">1200px</a>
    <div class="line"></div>
    <p>Layout</p>
    <a href="#" class="btn btn-small" id="switch_boxed">Boxed</a><a href="#" class="btn btn-primary  btn-small" id="switch_wide">Wide</a>
    <div class="line"></div>
    <p>Color Schemes</p>
    <div class="predefined_styles">
      <a href="index-layout-corporate-1c392.html?default=true" class="styleswitch" style="background:#00A0B0"></a>
      <a href="#" rel="persimmon" class="styleswitch" style="background:#ff5f4f"></a>
      <a href="#" rel="anzac" class="styleswitch" style="background:#dcb051"></a>
      <a href="#" rel="lochmara" class="styleswitch" style="background:#0881c6"></a>
      <a href="#" rel="vivid-violet" class="styleswitch" style="background:#a52fac"></a>
      <a href="#" rel="apple" class="styleswitch" style="background:#45BD3E"></a>
      <a href="#" rel="keppel" class="styleswitch" style="background:#39b48a"></a>
      <a href="#" rel="mulberry" class="styleswitch" style="background:#C64B75"></a>
      <a href="#" rel="wedgewood" class="styleswitch" style="background:#449497"></a>
      <a href="#" rel="contessa" class="styleswitch" style="background:#BB6B68"></a>
      <a href="#" rel="picton-blue" class="styleswitch" style="background:#42c5df"></a>
      <a href="#" rel="thunderbird" class="styleswitch" style="background:#BD3A20"></a>
      <a href="#" rel="radical-red" class="styleswitch" style="background:#FE4365"></a>
      <a href="#" rel="caribbean-green" class="styleswitch" style="background:#01BC9A"></a>
      <a href="#" rel="international-orange" class="styleswitch" style="background:#FF5500"></a>
      <a href="#" rel="azure-radiance" class="styleswitch" style="background:#00AAFF"></a>
      <a href="#" rel="norway" class="styleswitch" style="background:#A8C0A8"></a>
      <a href="#" rel="eggplant" class="styleswitch" style="background:#573F57"></a>
    </div>
    <div class="line"></div>
    <p>Backgound Patterns</p>
    <div class="predefined_styles">
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/triangular.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/dimension.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/tweed.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/pw_pattern.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/binding_light.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/binding_dark.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/ps_neutral.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/grey_wash_wall.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/simple_dashed.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/pw_maze_black.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/dark_fish_skin.png')"></a>
      <a href="#" class="pattern_switch" style="background-image:url('img/patterns/escheresque_ste.png')"></a>
    </div>
    <div class="line"></div>
    <p>Backgound Images</p>
    <div class="predefined_styles">
      <a href="#" rel="img/bg/city.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/city.jpg')"></a>

      <a href="#" rel="img/bg/business-people-blur.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/business-people-blur.jpg')"></a>

      <a href="#" rel="img/bg/desk-blur.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/desk-blur.jpg')"></a>

      <a href="#" rel="img/bg/playstation-control.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/playstation-control.jpg')"></a>

      <a href="#" rel="img/bg/street.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/street.jpg')"></a>

      <a href="#" rel="img/bg/table-blur.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/table-blur.jpg')"></a>

      <a href="#" rel="img/bg/things-blur.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/things-blur.jpg')"></a>

      <a href="#" rel="img/bg/water-blur.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/water-blur.jpg')"></a>

      <a href="#" rel="img/bg/bridge.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/bridge.jpg')"></a>

      <a href="#" rel="img/bg/green.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/green.jpg')"></a>

      <a href="#" rel="img/bg/people-beach.jpg" jg="bg_image_switch" style="background-image:url('img/bg/tiny/people-beach.jpg')"></a>

      <a href="#" rel="img/bg/traffic.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/traffic.jpg')"></a>

      <a href="#" rel="img/bg/raspberry.jpg" class="bg_image_switch" style="background-image:url('img/bg/tiny/raspberry.jpg')"></a>
    </div>
    <div class="line"></div>
  </div>
</div>








<!-- TOP AREA -->
  <div class="top-area shadow-inner show-onload">
    <div class="top-bg-area bg-mask" data-bg-img="img/bg/business-people-blur.jpg">
      <div class="earth-top to-bottom mask-front">
        <div class="earth-rotate flare">
          <img src="img/earth-models/render/earth-america.png" alt="Image Alternative text" title="Image Title" />
        </div>
      </div>
      <div class="bg-mask-front bg-mask-darken full">
        <div class="vertical-center mask-front white">
          <div class="container">
            <div class="row">
              <div class="span8 offset2 center">
                <h1 class="super-hero-title">Your Businees is Our Passion</h1>
                <p class="big-text">Aliquam et tortor amet risus cubilia ipsum dignissim magna inceptos lectus feugiat cubilia nullam porttitor sapien dignissim ultricies ipsum leo nulla tempus facilisi nostra tincidunt nisi nascetur cum venenatis penatibus</p>
                <div class="gap gap-small"></div><a class="btn btn-primary btn-mega">Free Quote</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary-inverse btn-mega">Get in Touch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TOP AREA  -->

  <div class="gap"></div>

  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="thumb">
          <div class="thumb-header">
            <a href="#">
              <!--<img src="<%= root_url %>img/good_job_800x600.jpg" alt="Image Alternative text" title="Good job" />-->
              <%= image_tag "img/good_job_800x600.jpg" %>
            </a>
          </div>
          <div class="thumb-caption">
            <h5 class="thumb-title"><a href="#">Nisi et porttitor</a></h5>
            <p class="thumb-desc">Dapibus ornare dictumst ultricies praesent in tempus enim in interdum felis erat sapien integer sociis justo accumsan</p><a class="btn btn-primary btn-small" href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="thumb">
          <div class="thumb-header">
            <a href="#">
              <img src="img/business_group_800x600.jpg" alt="Image Alternative text" title="Business Group" />
            </a>
          </div>
          <div class="thumb-caption">
            <h5 class="thumb-title"><a href="#">Enim vehicula tempus</a></h5>
            <p class="thumb-desc">Orci potenti volutpat neque rutrum vestibulum senectus ad ad bibendum consectetur maecenas leo et posuere vel penatibus</p><a class="btn btn-primary btn-small" href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="thumb">
          <div class="thumb-header">
            <a href="#">
              <img src="img/working_in_the_nature_800x600.jpg" alt="Image Alternative text" title="Working in the Nature" />
            </a>
          </div>
          <div class="thumb-caption">
            <h5 class="thumb-title"><a href="#">Enim tellus vehicula</a></h5>
            <p class="thumb-desc">Quisque enim pharetra elit fusce vivamus elementum mauris luctus pellentesque luctus penatibus risus accumsan purus cum fusce</p><a class="btn btn-primary btn-small" href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="thumb">
          <div class="thumb-header">
            <a href="#">
              <img src="img/machine_businessman_800x600.jpg" alt="Image Alternative text" title="Machine Businessman" />
            </a>
          </div>
          <div class="thumb-caption">
            <h5 class="thumb-title"><a href="#">Lacus adipiscing magnis</a></h5>
            <p class="thumb-desc">Purus commodo donec metus commodo rhoncus nisi sollicitudin volutpat viverra imperdiet imperdiet massa vestibulum ipsum consectetur enim</p><a class="btn btn-primary btn-small" href="#">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>




  <div class="bg-mask-darken" data-bg-img="img/bg/street.jpg">
    <div class="container mask-front">
      <div class="gap gap-big">
        <h1 class="white">The Company</h1>
        <p class="white">Taciti consectetur aliquet ultrices praesent porttitor sociis mattis quis massa congue placerat libero nunc bibendum eu rhoncus per maecenas pellentesque diam potenti mauris ornare ornare habitasse ullamcorper nibh orci platea tempus gravida cras felis cum eleifend nisl fermentum ultricies conubia a facilisis ut gravida sed habitant inceptos pulvinar vivamus aptent aenean pellentesque vulputate metus ante vehicula senectus fusce diam varius urna nibh nunc maecenas euismod tincidunt convallis ultricies hac felis torquent congue consectetur lobortis odio iaculis aenean laoreet neque natoque arcu semper leo aliquet platea porttitor libero nulla tempor platea felis pellentesque class tellus erat a faucibus sociosqu volutpat vulputate</p>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="container">
    <h2>Clients About Us</h2>
    <div class="gap">
      <div class="row row-wrap">
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Dictumst gravida mi interdum ad donec diam eget iaculis ullamcorper</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="<%= root_url %>img/good_job_70x70.jpg" alt="Image Alternative text" title="Good job" />
              <%#= image_tag "img/good_job_800x600.jpg" %>
              <p class="testimonial-author-name">John Doe</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Class habitant sapien laoreet cum enim congue eros fusce et</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="img/gamer_chick_70x70.jpg" alt="Image Alternative text" title="Gamer Chick" />
              <p class="testimonial-author-name">Joe Smith</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Auctor vehicula massa diam fermentum consequat senectus ipsum ipsum tristique</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="img/ana_29_70x70.jpg" alt="Image Alternative text" title="Ana 29" />
              <p class="testimonial-author-name">Minnie Aviles</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Consequat quam risus purus potenti adipiscing facilisi felis sociosqu vivamus</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="img/amaze_70x70.jpg" alt="Image Alternative text" title="AMaze" />
              <p class="testimonial-author-name">Richard Jones</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Amet torquent a nam penatibus conubia tempus cras sociosqu nisl</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="img/chiara_70x70.jpg" alt="Image Alternative text" title="Chiara" />
              <p class="testimonial-author-name">Cyndy Naquin</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <div class="span4">
          <!-- START TESTIMONIAL -->
          <div class="testimonial">
            <div class="testimonial-inner">
              <blockquote>
                <p>Porta imperdiet euismod curae quisque habitasse nunc quam nulla vestibulum</p>
              </blockquote>
            </div>
            <div class="testimonial-author">
              <img src="img/afro_70x70.jpg" alt="Image Alternative text" title="Afro" />
              <p class="testimonial-author-name">Minnie Aviles</p>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="container">
      <div class="gap gap-big">
        <h3>From Blog</h3>
        <div class="gap gap-small"></div>
        <div class="fredsel-wrapper">
          <div class="row">
            <ul class="list fredsel" id="fredsel-pagi">
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/happy_bokeh_day_70x70.jpg" alt="Image Alternative text" title="Happy Bokeh Day" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Parturient nunc sodales</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Laoreet egestas magna augue phasellus dapibus commodo accumsan senectus placerat</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/ijump_70x70.jpg" alt="Image Alternative text" title="iJump" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Maecenas feugiat sem</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Hendrerit tempor est dolor facilisis volutpat ridiculus tempor bibendum potenti</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/a_dreamy_jump_70x70.jpg" alt="Image Alternative text" title="a dreamy jump" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Montes blandit morbi</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Eros enim mi augue habitasse interdum varius vestibulum dui sem</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/the_violin_70x70.jpg" alt="Image Alternative text" title="The Violin" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Eleifend cum dis</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Scelerisque scelerisque mi netus dui phasellus tempor ante inceptos ornare</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/old_no7_70x70.jpg" alt="Image Alternative text" title="Old No7" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Venenatis egestas fermentum</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Phasellus dictumst nisl velit elementum sociosqu odio mauris facilisis ridiculus</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/the_hidden_power_of_the_heart_70x70.jpg" alt="Image Alternative text" title="The Hidden Power of the Heart" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Dapibus imperdiet quisque</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Blandit sed ultricies eu id tempor velit ornare pulvinar integer</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/nikon_50mm_70x70.jpg" alt="Image Alternative text" title="Nikon 50mm" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Aenean elementum tincidunt</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Class tortor vestibulum mollis diam vulputate hac per himenaeos scelerisque</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/food_is_pride_70x70.jpg" alt="Image Alternative text" title="Food is Pride" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Ante augue magna</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Curae vehicula sollicitudin leo ipsum neque neque et ipsum tristique</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/look%2c_a_bird_70x70.jpg" alt="Image Alternative text" title="Look, a bird" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Bibendum dapibus ullamcorper</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Iaculis feugiat blandit magnis vitae adipiscing ad risus cursus egestas</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/going_out_tonight_70x70.jpg" alt="Image Alternative text" title="Going out tonight" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Vivamus potenti ligula</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Metus ac adipiscing platea ad ac dictum lobortis facilisi sed</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/working_in_the_nature_70x70.jpg" alt="Image Alternative text" title="Working in the Nature" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Laoreet pellentesque sem</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Nostra et in blandit curabitur inceptos vitae facilisi ornare dolor</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumb">
                  <div class="thumb-header-left">
                    <a href="#">
                      <img src="img/autumn_rain_70x70.jpg" alt="Image Alternative text" title="Autumn rain" />
                    </a>
                  </div>
                  <div class="thumb-caption">
                    <h5 class="thumb-title"><a href="#">Cursus ac natoque</a></h5>
                    <p class="thumb-meta">12 May, 2013</p>
                    <p class="thumb-desc">Aenean eleifend etiam taciti praesent gravida quam metus nulla eget</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="fredsel-pagi-pager" class="fredsel-pagination"></div>
      </div>
    </div>
  </div>



