<%=h content_for(:title, "| How it Works") %>

<div class="top-title-area bg-img">
  <div class="container">
    <h1 class="title-page">
      How iSeekiGive works 
    </h1>
  </div>
</div>

<div class="gap"></div>

<div class="container">
  <div class="row">
    <div class="span12">
      <h4 class="centered">
        Our community is made of Seekers and Givers
      </h4>
    </div>
  </div>

  <div class="gap gap-small"></div>

  <div class="row">
    <div class="span3 offset3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Perspectives</h4>
        <i class="icon-group box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Givers share their Perspectives - The Good, The Bad & The Ugly.
        </p>
        <p class="people-love-text">
          Givers share their Perspectives - The Good, The Bad & The Ugly.
          Seekers explore areas of interest and learn from Giver's personal experiences.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Sessions</h4>
        <i class="icon-mobile-phone box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Givers opt to share time with Seekers to give specific feedback.
        </p>
        <p class="people-love-text">
          Seekers pay to receive live direct advice and suggestions from relevant Givers.
        </p>
      </div>
    </div>
  </div>

  <div class="gap gap-small"></div>

  <div class="row">
    <div class="span3 offset3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Rewards</h4>
        <i class="icon-dollar box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Everyone has a story to share.
        </p>
        <p class="people-love-text">
          Share Perspectives and hold Sessions to earn rewards, cash prizes or donations for charitable causes. 
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="bordered people-love-box">
        <h4 class="centered pad-10">Boosters</h4>
        <i class="icon-gear box-icon-big round box-icon-black box-icon-center animate-icon-border-fadeout box-icon-to-inverse"></i>
        <p class="people-love-text">
          Care about a cause?
        </p>
        <p class="people-love-text">
          Start a campaign and invite others to support and raise proceeds in a new way - by sharing their time and perspectives.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="gap"></div>

<div class="bg-gray">
  <div class="container">
    <div class="gap">
      <div class="row">
        <div class="span12 center">
          <%= link_to "GET STARTED NOW", logged_in? ? "javascript:;" : signup_path, :class => "btn btn-primary-inverse btn-mega" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gap"></div>