<%=h content_for(:title, "| Privacy Policy") %>

<div class="top-title-area bg-img">
  <div class="container">
    <h1 class="title-page">
      Privacy Policy
    </h1>
  </div>
</div>

<div class="gap"></div>

<div class="container">
  <div class="row">
    <div class="span12">
      <h4 class="centered">
        Our community is made of Seekers and Givers
      </h4>
    </div>
  </div>

  <div class="gap gap-small"></div>

</div>

<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
