<h2>Our Community is made-up of iSeekers and iGivers</h2>

<%= link_to "iSeekers", signup_path(:type => "iseeker"), :class => "btn btn-large btn-primary fancybox fancybox.ajax no-transform" %>

<%= link_to "iGivers", signup_path(:type => "igiver"), :class => "btn btn-large btn-primary fancybox fancybox.ajax no-transform" %>