<h2>Our Community is made-up of Seekers and Givers</h2>

<%= link_to "Seeker", signup_path(:type => "seeker"), :class => "btn btn-large btn-primary fancybox fancybox.ajax no-transform" %>

<%= link_to "Giver", signup_path(:type => "giver"), :class => "btn btn-large btn-primary fancybox fancybox.ajax no-transform" %>