<h2>Our Community is made-up of iSeekers and iGivers</h2>

<%= link_to "iSeekers", signin_path(:type => "iseeker"), :class => "btn btn-large btn-primary fancybox fancybox.ajax" %>

<%= link_to "iGivers", signin_path(:type => "igiver"), :class => "btn btn-large btn-primary fancybox fancybox.ajax" %>