
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <section class="panel">
                  <div class="panel-body">
                    <div class="clearfix m-b">
                      <small class="text-muted pull-right">5m ago</small>
                      <a href="#" class="thumb-sm pull-left m-r"> <img src="images/avatar.jpg" class="img-circle"> </a>

                      <div class="clear"><a href="#"><strong>Jonathan Omish</strong></a>
                        <small class="block text-muted">San Francisco, USA</small>
                      </div>
                    </div>
                    <p> There are a few easy ways to quickly get started with Bootstrap... </p>
                  </div>
                </section>
              </div>
            </div>

<!-- Bootstrap --> <!-- Sparkline Chart --> <!-- App --> </body>
</html>